main {
	margin-top:65px;
	
	//Categories over popular products
	.card-title{
		a {
			text-transform: uppercase;
			color: $orange-color;

			&:hover, &:active {
				color: darken($orange-color, 10%);
				text-decoration: underline;
			}
		}
		@include padding(10px null 10px null);
	}

	.popular-products-title {
		overflow: hidden;
    	text-align: center;
    	&:before, &:after {
    		background-color: $grey-color;
		    content: "";
		    display: inline-block;
		    height: 1px;
		    position: relative;
		    vertical-align: middle;
		    width: 10%;
    	}
		&:before {
			right: 0.5em;
    		margin-left: -50%;
		}
		&:after {
			left: 0.5em;
    		margin-right: -50%;
		}
	}
	
	//Product
	.product {
		//stars
		.product-rating {
			position: absolute;
			padding:10px;
			@include user-select(none);
			
			i {
				color: $orange-color;
				width: 16px;

				&:hover, &:active {
					cursor: pointer;
				}
			}
		}

		//Content
		.card-content {
			border: 1px solid $grey-color;
		    padding: 0px;
			@include box-sizing(border-box);

			img{
				border-top: 1px solid $grey-color;
				padding: 20px;
			}
		    p {
		    	display: -webkit-box;
			    -webkit-line-clamp: 5;
			    -webkit-box-orient: vertical;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    height:129px; /* fallback */
  		    	border-top: 1px solid $grey-color;
		    	@include padding(20px 10px 20px 10px);

		    }
		}
		
		.product-info {
			border-top: 1px solid $grey-color;
			@include margin(null 20px null 10px);
			@include padding(10px null 15px null);

			.product-price {
				color: $orange-color;
			}

			.product-favorite {
				i {
					@include user-select(none);
					cursor:pointer;
				}
			}

		}

		//Buy now - popular products
		.card-action{
			a {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: 0px;
				background-color: $orange-color;
			}
		}
	}
}