<!-- uppernav -->
<div class="container uppernav">
  <div class="row">
    <div class="col s12 m12 l6 uppernav_logo">
      <img src="assets/img/logo.png" alt="">
    </div>
    <div class="col s12 m12 l6 uppernav_details vertical">
      <div class="col s12 m12 l3">
        <span class="icons"><i class="tiny material-icons icons">phone_forwarded</i> +45 22660077</span>
      </div>
      <div class="col s12 m12 l4">
        <span class="icons"><i class="tiny material-icons">email</i> Lorem@ipsum.com</span>
      </div>
      <div class="col s12 m12 l5">
        <span class="icons"><a href="#"><i class="tiny material-icons">shopping_basket</i> 99.54$ Checkout</a></span>
      </div>
    </div>
  </div>
</div>
<!-- /uppernav -->
<nav class="z-depth-0">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l10">
        <div class="nav-wrapper">
          <ul>
            <li class="nav-item">
              <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                Men
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                Women
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                Kids
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                Sale
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                Support
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s12 m12 l2">
        <form action="#" accept-charset="utf-8">
          <div class="input-field col s12 m12 s12">
            <i id="search-icon" class="tiny material-icons prefix">search</i><input id="search-input" placeholder="Search.." type="search" value="" class="validate">
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
<main>
<router-outlet></router-outlet>
</main>
<pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>
<!-- footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l4">
          <h5>Our Stores</h5>
          <p>Feel free to visit our stores or contact us.</p>
          <p>Vinegade 109 <br>
            5000 Odense <br>
          99886622</p>
          <p>Vestergade 910<br>
            9000 Aalborg<br>
          96819191</p>
          <p><img src="./assets/img/social_icons.png" alt="">
        </div>
        <div class="col s12 m12 l4 blog-posts">
          <h5>Blog Posts</h5>
          <h6>Lorem ipsum hey</h6>
          <p>Lorem ipsum dolor sit amet, consectetur<br>
          adipiscing elit. Donec sed auctor elit.<p>
          <h6>New sexy sport clothes are here!</h6>
          <p>Lorem ipsum dolor sit amet, consectetur<br>
          adipiscing elit. Donec sed auctor elit.</p>
          <h6>Summer sales are coming!</h6>
          <p>Lorem ipsum dolor sit amet, consectetur<br>
          adipiscing elit. Donec sed auctor elit.</p>
        </div>
        <div class="col s12 m12 l4 support">
          <h5>Support</h5>
          <div class="col s6 m6 l6">
            <a href="#">Terms & Conditions</a>
            <a href="#">FAQ</a>
            <a href="#">Payment</a>
            <a href="#">Refunds</a>
            <a href="#">Track Order</a>
            <a href="#">Services</a>
            <a href="#">Privacy & Security</a>
            <a href="#">Careers</a>
            <a href="#">Press</a>
            <a href="#">Corporate Information</a>
          </div>
          <div class="col s6 m6 l6">
            <a href="#">Sizing</a>
            <a href="#">Ordering</a>
            <a href="#">Shipping</a>
            <a href="#">Return Policy</a>
            <a href="#">Affiliates</a>
            <a href="#">Find A Store </a>
            <a href="#">Site Map</a>
            <a href="">Sign Up & Save</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer-->