<div class="col hide-on-small-only m12 l12">
	<div class="slider">
		<ul class="slides">
			<li>
				<img src="./assets/img/slide1.jpg"> <!-- random image -->
				<div class="caption">
					<div class="container">
						<div class="row">
							<div class="col s12 m12 l12">
								<div class="text">
									<h3>Right is Pink</h3>
									<h3>Left is blue</h3>
									<p class="light grey-text text-lighten-3">Inspired by Brasil’s bold colors and matching up to football’s on-pitch
									playmakers, these kicks are ready to stand out.</p>
									<a href="#" class="waves-effect waves-light z-depth-0 btn">Shop Brazil</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<img src="./assets/img/slide2.jpg"> <!-- random image -->
				<div class="caption">
					<div class="container">
						<div class="row">
							<div class="col s12 m12 l12">
								<div class="text">
									<h3>Right is Pink</h3>
									<h3>Left is blue</h3>
									<p class="light grey-text text-lighten-3">Inspired by Brasil’s bold colors and matching up to football’s on-pitch
									playmakers, these kicks are ready to stand out.</p>
									<a href="#" class="waves-effect waves-light z-depth-0 btn">Shop Brazil</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<img src="./assets/img/slide3.jpg"> <!-- random image -->
				<div class="caption">
					<div class="container">
						<div class="row">
							<div class="col s12 m12 l12">
								<div class="text">
									<h3>Right is Pink</h3>
									<h3>Left is blue</h3>
									<p class="light grey-text text-lighten-3">Inspired by Brasil’s bold colors and matching up to football’s on-pitch
									playmakers, these kicks are ready to stand out.</p>
									<a href="#" class="waves-effect waves-light z-depth-0 btn">Shop Brazil</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>