<!-- footer -->
<div class="container">
  <div class="row">
    <div class="col s12 m12 l4">
      <h5>Our Stores</h5>
      <p>Feel free to visit our stores or contact us.</p>
      <p>Vinegade 109 <br>
        5000 Odense <br>
      99886622</p>
      <p>Vestergade 910<br>
        9000 Aalborg<br>
      96819191</p>
      <p><img src="./assets/img/social_icons.png" alt="">
    </div>
    <div class="col s12 m12 l4 blog-posts">
      <h5>Blog Posts</h5>
      <h6>Lorem ipsum hey</h6>
      <p>Lorem ipsum dolor sit amet, consectetur<br>
      adipiscing elit. Donec sed auctor elit.<p>
      <h6>New sexy sport clothes are here!</h6>
      <p>Lorem ipsum dolor sit amet, consectetur<br>
      adipiscing elit. Donec sed auctor elit.</p>
      <h6>Summer sales are coming!</h6>
      <p>Lorem ipsum dolor sit amet, consectetur<br>
      adipiscing elit. Donec sed auctor elit.</p>
    </div>
    <div class="col s12 m12 l4 support">
      <h5>Support</h5>
      <div class="col s6 m6 l6">
        <a href="#">Terms & Conditions</a>
        <a href="#">FAQ</a>
        <a href="#">Payment</a>
        <a href="#">Refunds</a>
        <a href="#">Track Order</a>
        <a href="#">Services</a>
        <a href="#">Privacy & Security</a>
        <a href="#">Careers</a>
        <a href="#">Press</a>
        <a href="#">Corporate Information</a>
      </div>
      <div class="col s6 m6 l6">
        <a href="#">Sizing</a>
        <a href="#">Ordering</a>
        <a href="#">Shipping</a>
        <a href="#">Return Policy</a>
        <a href="#">Affiliates</a>
        <a href="#">Find A Store </a>
        <a href="#">Site Map</a>
        <a href="">Sign Up & Save</a>
      </div>
    </div>
  </div>
</div>
<!-- /footer-->