<!-- main -->
<main>
	<div class="container">
		<div class="row product-page">
			<div class="col s12 m12 l6 push-l6">
				<div class="col s12 m12 l12 product-name">
					<h5>{{ product.name }}</h5>
				</div>
				<div class="col s12 m6 l6 product-logo">
					<img src="./assets/img/brand_logo.png" alt="Product logo">
				</div>
				<div class="col s12 m6 l6">
					<div class="right">
						<div class="product-price">
							{{ product.price - (product.price * (product.discount/100)) | currency:product.currency:true:'1.2' }}
						</div>
						<div class="product-original-price">
							{{ product.price | currency:product.currency:true:'1.2' }}
						</div>
						<div class="product-saving">
							You save <span class="percent">{{ product.discount }}%</span>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l12 product-card-options">
					<div class="col s12 m12 l8">
						<span class="card-size">
							Size
						</span>
						<select class="browser-default">
							<option value="" disabled selected>Choose your option</option>
							<option *ngFor="let i = index let size of product.sizes" value="{{ i }}">{{ size }}</option>
						</select>
					</div>
					<div class="col s12 m12 l3 push-l1">
						<span class="card-amount hide-on-med-and-down right">
							Amount
						</span>
						<span class="card-amount hide-on-large-only">
							Amount
						</span>
						<input class="amount" type="number" min="1" max="{{ product.stock }}" name="" value="" placeholder="1">
					</div>
				</div>
				<div class="col s12 m12 l12">
					<span class="right">
						<button class="btn waves-effect waves-light z-depth-0" type="submit" name="action">Buy now</button>
					</span>
				</div>
			</div>
			<div class="col s12 m12 l6 pull-l6 product-showcase">
				<div class="col s12 m12 l12">
					<div class="product-large">
						<img class="materialboxed" src="{{ product.image[activePhoto] }}" alt="Large product image">
					</div>
				</div>
				
				<div *ngFor="let i = index let image of product.image" class="col s6 m6 l4 hide-on-med-and-down">
					<div *ngIf="i == activePhoto" (click)="changePhoto(i)" class="product-small valign-wrapper active">
						<img class="valign" src="{{ image }}" alt="Tiny product image">
					</div>
					<div *ngIf="i != activePhoto" (click)="changePhoto(i)" class="product-small valign-wrapper">
						<img class="valign" src="{{ image }}" alt="Tiny product image">
					</div>
				</div>
			</div>
			<div class="col s12 m12 l12">
				<div class="col s12 m12 l12 tab-select">
					<ul class="tabs">
						<li class="tab col l3">
							<a class="active" href="#desc">Description</a>
						</li>
						<li class="tab col l3">
							<a href="#ship">Shipping</a>
						</li>
						<li class="tab col l3">
							<a href="#size">Sizing</a>
						</li>
					</ul>
				</div>
				<div class="col s12 m12 l12 tab-content">
					<div id="desc" class="col s12 m12 l12">
						<div class="col s12 m6 l6">
							<p>{{ product.description }}</p>
						</div>
					</div>
					<div id="ship" class="col s12 m12 l12">
						<div class="col s12 m6 l6">
							<p>{{ product.shippingDesc }}</p>
						</div>
					</div>
					<div id="size" class="col s12 m12 l12">
						<div class="col s12 m6 l6">
							<p>{{ product.sizingDesc}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- /main -->