<!-- uppernav -->
<div class="container uppernav">
  <div class="row">
    <div class="col s12 m12 l6 uppernav_logo">
      <img src="assets/img/logo.png" alt="">
    </div>
    <div class="col s12 m12 l6 uppernav_details vertical">
      <div class="col s12 m12 l3">
        <span class="icons"><i class="tiny material-icons icons">phone_forwarded</i> +45 22660077</span>
      </div>
      <div class="col s12 m12 l4">
        <span class="icons"><i class="tiny material-icons">email</i> Lorem@ipsum.com</span>
      </div>
      <div class="col s12 m12 l5">
        <span class="icons"><a href="#"><i class="tiny material-icons">shopping_basket</i> 99.54$ Checkout</a></span>
      </div>
    </div>
  </div>
</div>
<!-- /uppernav -->